#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.Background{
  width: 100vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer{
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: #fff;
  animation: scaleAnimation 2s infinite alternate; 
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.1);
    color:black;
  }
}

.button {
  background-image: linear-gradient(to right, #0000ff, #00ccff); 
  transition: background-image 0.3s ease; 
  border-style:unset;
  color: white; 
  padding: 10px 20px;
  cursor: pointer; 
}

.button:hover {
  background-image: linear-gradient(to right, #00cc00, #33cc33); /* Gradient green */
}

.input {
  width: 100%;
  padding: 10px;
  border-style: inset;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; 
  transition: border-color 0.3s ease; 
}

.input:focus {
  outline: none; 
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input::placeholder {
  color: #aaa; 
}




